<div class="slider fullscreen">
	<ul class="slides">
		<li>
			<img src="/assets/barragan.jpg"> <!-- random image -->
			<div class="caption slider-caption white-text left-align">
				<h2><i class="material-icons large">today</i>Agenda una cita</h2>
					<p class="flow-text white-text">En tu departamento, sin ningún compromiso. Te enviaremos con anticipación la fotografía e información de contacto del agente, así como el contrato que firmamos con nuestros clientes.</p>
					<p class="flow-text white-text">Si decides contratarnos, el agente realizará un estudio fotográfico, elaborará planos digitales, y te asesorará para definir el precio y para fijar una estrategia de ventas que se ajuste a tus prioridades.</p>
			</div>
		</li>
		<li>
			<img src="/assets/barragan2.jpg"> <!-- random image -->
			<div class="caption slider-caption white-text left-align">
				<h2><i class="material-icons large">business</i>Conseguimos comprador</h2>
					<p class="flow-text white-text">Publicamos anuncios claros y detallados, la mejor forma de atraer la atención de compradores serios, y lograr un mejor precio y tiempo de venta.</p>
					<p class="flow-text white-text">Te asesoramos en todos los aspectos legales y financieros de la compraventa.</p>
			</div>
		</li>
		<li>
			<img src="/assets/barragan4.jpg"> <!-- random image -->
			<div class="caption slider-caption white-text left-align">
				<h2><i class="material-icons large">thumb_up</i>Colaboramos contigo</h2>
					<p class="flow-text white-text">Sabemos que algunos clientes contemplan la alternativa de vender por cuenta propia. Por ello te ofrecemos un servicio flexible.</p>
					<p class="flow-text white-text">Si tú encuentras comprador, así sea durante el periodo de vigencia de nuestro contrato, te seguiremos proporcionando todos los demás servicios y sólo cobraremos la mitad de la comisión.</p>
			</div>
		</li>		
		<li>
			<img src="/assets/barragan5.jpg"> <!-- random image -->
			<div class="caption slider-caption white-text left-align">
				<h2>Califícanos</h2>
					<p class="flow-text white-text">Somos una empresa orientada a la satisfacción del cliente, por eso nos comprometemos a publicar tu evaluación (buena o mala).</p>
					<p class="flow-text white-text">Nuestro objetivo no es sólo vender departamentos, sino ofrecerte una atención de excelencia a lo largo de todo el proceso de compraventa.</p>
				<h4 class="right">
					<i class="material-icons medium">grade</i>
					<i class="material-icons medium">grade</i>
					<i class="material-icons medium">grade</i>
					<i class="material-icons medium">grade</i>
					<i class="material-icons medium">grade</i>
				</h4>
			</div>
		</li>

	</ul>
</div>