body {
/*	background-size: 100% auto;*/
}

nav	{
	opacity: 0.90;
}

.register_form {
	padding: 25px;
}

.text-column {
	height: 600px;
	overflow-y: auto; 
}

.keyword {
	font-weight: 600;
}
.keyword-green {
	font-weight: 600;
	color: #66CC33;
}

.bold {
	font-weight: 500;
}

.section-divider {
	height: 150px;
}

.white-space {
	height: 600px;
}

.logo {
	display: inline-block;
	padding: 10px 40px;
	vertical-align: middle;
}

.brand {
	display: inline-block;
	padding-left: 5px;
	font-weight: 500;
	color: black;
	text-shadow: 2px;
}

#session {
	display: inline-block;
	font-size: 1.2em;
	font-weight: 500;
	margin-right: 10px;
}

.card {
	padding: 10px;
	opacity: 0.90;
}

#card-action {
	padding: 20px 0px 0px;
}


#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

#modal1 {
	display: none;
}

.primera {
	margin-top: 60px;
}

.segunda {
	margin-top: 140px;
}

.green-background {
	background-color: #66CC33;
}

.section-content {
	background-color: rgba(255, 255, 255, 0.35);
}

#login-card {
	background-color: rgba(255, 255, 255, 0.5)
}

#min-width {
	max-width: 12px;
}

#transparent {
	opacity: 0;
}

